@import url("layout.css");


h1{
    font-size: 28px;
}
table{
    background-color: #ffffff;
    border-top:  12px solid #e68134;
}
 table img{
    width: 25px;
 }
tr:nth-child(even) {background: #ECEAEC}
tr:nth-child(odd) {background: #FFF}
tr p{
    margin-bottom: 0;
}

tr td:nth-child(1){
    width:  20%;
}
tr td:nth-child(2){
    width:  50%;
}
 tr td:nth-child(3){
    width:  30%;
}
#pagination{
    list-style: none;
    padding: 0;
    margin-top: 20px;
    display: block;
}

#pagination li{
    display: inline-block;
}

#pagination li a{
    color: #000;
    padding: 2px 4px;
    font-weight: 600;
    cursor: pointer;
}

#pagination li a.active{
    border-bottom: 2px solid #e68134;
}

#pagination li a:hover{
    color: #B7B7B7;
    text-decoration: none;
}
footer{
    background-color: #ECEAEC;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
}
footer a{
    font-weight: 600;
    color: #000;
    background-image: url('../images/interface.svg');
    background-size: 17px;
    padding-left: 20px;
    background-repeat: no-repeat;
}

footer a:hover{
    color: inherit;
}