body {
	background-color: #F5F5F5;
	font-family: Arial;
	font-size: 16px;
}

#wrapper {
	height: calc(100vh);
	display: table;
	width: 100%;
}
		
input {
	border-radius: 20px;
	border: 1px solid #B7B7B7;
	/*#e68134;*/
	padding: 8px 15px;
	outline: none;
	font-size: 14px;
}

input:focus:not([type=submit]) {
	border: 1px solid #e68134;
	color: #e68134;
	box-shadow: 0 0 5px #B7B7B7;
}

input[name=username],
input[name=password] {
	padding-left: 40px;
	background-repeat: no-repeat;
	background-position: 10px center;
	background-size:30px;
}

input[type=submit]{
	background-color: #E98C3B;
	text-align: left;
	color: #fff;
	font-size: 16px;
	padding: 7px 15px;
	cursor: pointer;
	background-image:url('../images/skip.svg');
	background-repeat:no-repeat;
	background-position: calc(100% - 0.5rem) center;
	background-size:30px;
}

input[type=submit]:hover,
input[type=submit]:active{
	background-color: #C15905;
	box-shadow: 0 0 5px #B7B7B7;

}

input[name=username]{
	background-image:url('../images/user.svg');
}

input[name=password]{
	background-image:url('../images/password.svg');
}

.text-small,
label[for="remember-me"]{
	font-size: 14px!important;
}

input::-webkit-input-placeholder,
input:-moz-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder {
	color: green !important;
}

input:focus::-webkit-input-placeholder,
input:focus:-moz-placeholder,
input:focus::-moz-placeholder,
input:-ms-input-placeholder,
input:focus:-ms-input-placeholder {
	color: red !important;
}

.font-weight-medium{
	font-weight: 500;
}
.display-5{
	font-size:18px;
}

.alert{
	background-color: transparent;
	border: transparent;
	display: none;
}

.alert-danger{
	color: #e90029;
}